@page
@model Cookit.WebApp.Pages.Recipes.AddImageModel
@{
}

<h1>Add an image to your recipe</h1>
<form enctype="multipart/form-data" method="post">
    <input name="ImageFile" type="file" />
    <button type="submit">Upload</button>
</form>
