@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/cookit-logo.png" alt="Logo" />
    <p>I always hated sifting through somebodies life story to just get a damn recipe. So I made a website where you will never have to!</p>
</div>
