/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav {
    background-color: #f1f1f1;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/***************/
/* Styles for keeping recipe cards consistent size*/
/***************/

/* Keep image sizes consistent */
.card-img-top.recipe-card-img {
    height: 30vh;
    object-fit: cover;
}

/* Only display a set amount of text, keeps long descriptions from screwing up the size of the cards*/
.card-text {
    width: 100%;
    height: 10vh;
}

.overflow {
    --lh: 1.5rem;
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

/*.overflow::before {
    position: absolute;
    content: "...";*/
    /*inset-block-end: 0;*/
    /*inset-inline-end: 0;
    bottom: 0;
    right: 0;
}

.overflow::after {
    content: "";
    position: absolute;
    inset-inline-end: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}*/
